.contentbox a {
  text-decoration: none;
  color: black;
  margin: 0px;
  padding: 0px;
}
.contentbox h3 {
  margin: 0px;
  padding: 5px;
}
.contentbox {
  margin-bottom: 1vh;
  background-color: rgb(201, 201, 201);
  border: 1px solid rgb(73, 70, 70);
  border-radius: 10px;
  height: 100px;
  display: flex;
  align-items: center;
}
.contentbox:hover {
  cursor: pointer;
}
